@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* Default stles */
* {
  margin: 0;
  padding: 0;
  font-weight: 700;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  color: rgb(5, 0, 31);

  animation: bgChange 60s ease-in-out infinite;
}

main {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  animation: textIn 5s ease-in-out;
}

h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

section {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.intro,
.dev,
.intro-left,
.dev-left {
  gap: 2rem;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  border-bottom: 2px solid rgb(49, 49, 49);
}

.intro,
.dev {
  animation: enterLeft 5s ease-in-out;
}

.intro-left,
.dev-left {
  flex-direction: column-reverse;

  animation: enterRight 5s ease-in-out;
}

.intro-left p {
  text-align: right;
}

.me {
  width: 10rem;
  border-radius: 10px 70px 70px 10px;
}

.intro img,
.dev img {
  width: 13rem;
  justify-self: right;
  align-self: flex-end;
  border-radius: 70px 10px 10px 70px;

  transition: all ease-in-out 5s;
}

.implement {
  height: 13rem;
}

.intro-left img,
.dev-left img {
  width: 15rem;
  border-radius: 10px 70px 70px 10px;

  transition: all ease-in-out 5s;
}

a {
  font-weight: 1000;
  color: rgb(3, 0, 15);
  text-decoration: none;
}

li {
  margin-left: 1rem;
}

.social-imgs {
  row-gap: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

i {
  font-size: 2.5rem;
}

.fa-github {
  color: rgb(41, 46, 54);
}

.fa-x-twitter {
  color: rgb(0, 0, 0);
}

.fa-linkedin {
  color: rgb(10, 102, 194);
}

.fa-phone {
  color: rgb(0, 87, 204);
}

.fa-envelope {
  color: rgb(214, 75, 59);
}

.about {
}

@keyframes bgChange {
  0% {
    background-color: whitesmoke;
  }
  5% {
    background-color: rgb(171, 173, 173);
  }
  10% {
    background-color: rgb(145, 153, 150);
  }
  15% {
    background-color: rgb(123, 115, 136);
  }
  20% {
    background-color: rgb(95, 101, 134);
  }
  25% {
    background-color: rgb(88, 136, 168);
  }
  40% {
    background-color: rgb(82, 177, 184);
  }
  45% {
    background-color: rgb(82, 184, 142);
  }
  50% {
    background-color: rgb(71, 202, 115);
  }
  55% {
    background-color: rgb(82, 184, 142);
  }
  60% {
    background-color: rgb(82, 177, 184);
  }
  65% {
    background-color: rgb(88, 136, 168);
  }
  70% {
    background-color: rgb(95, 101, 134);
  }
  75% {
    background-color: rgb(123, 115, 136);
  }
  80% {
    background-color: rgb(145, 153, 150);
  }
  85% {
    background-color: rgb(171, 173, 173);
  }
  90% {
    background-color: whitesmoke;
  }
}

@keyframes textIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 100;
  }
}
@keyframes enterRight {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(0);
  }
}
@keyframes enterLeft {
  0% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(0);
  }
}
