@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* Default stles */
* {
  margin: 0;
  padding: 0;
  font-weight: 700;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  color: rgb(5, 0, 31);

  animation: bgChange 55s ease-in-out infinite;
}

h1 {
}

img {
  width: 4rem;
}

@keyframes bgChange {
  0% {
    background-color: whitesmoke;
  }
  5% {
    background-color: rgb(171, 173, 173);
  }
  10% {
    background-color: rgb(145, 153, 150);
  }
  15% {
    background-color: rgb(123, 115, 136);
  }
  20% {
    background-color: rgb(95, 101, 134);
  }
  25% {
    background-color: rgb(88, 136, 168);
  }
  40% {
    background-color: rgb(82, 177, 184);
  }
  45% {
    background-color: rgb(82, 184, 142);
  }
  50% {
    background-color: rgb(71, 202, 115);
  }
  55% {
    background-color: rgb(82, 184, 142);
  }
  60% {
    background-color: rgb(82, 177, 184);
  }
  65% {
    background-color: rgb(88, 136, 168);
  }
  70% {
    background-color: rgb(95, 101, 134);
  }
  75% {
    background-color: rgb(123, 115, 136);
  }
  80% {
    background-color: rgb(145, 153, 150);
  }
  85% {
    background-color: rgb(171, 173, 173);
  }
  90% {
    background-color: whitesmoke;
  }
}
